Repository front-end-by-rimantas/35-grupe-portfolio-spet, pull requests merged in 2022-04, with the labels that each got.

#25 Basic structure
  index.html
Labels: HTML

#24 Our projects
  css/base/layout.css
  css/pages/home.css
  index.html
Labels: HTML

#52 Added img with folders
  img/about-us-section-4/main-img.png
  img/custom-designs-section-7/Design-1.png
  img/custom-designs-section-7/Design-2.png
  img/custom-designs-section-7/Design-3.png
  img/custom-designs-section-7/Design-4.png
  img/custom-designs-section-7/Design-5.png
  img/footer-section-11/Bg-Static-map.png
  img/hero-section-2/section-1-main.png
  img/news-section-10/IT-profesionals.png
  img/news-section-10/Software-engineers.png
  img/news-section-10/Web-development.png
  img/pricing-section-8/moving-img.png
  img/projects-section-6/Bg-Static-map.png
  img/services-section-5/Data-analysts.png
  img/services-section-5/Digital-marketing.png
  img/services-section-5/IT-profesionals.png
  img/services-section-5/Seo&content.png
  img/services-section-5/Software-engineers.png
  img/services-section-5/Web-development.png
  img/solutions-section-3/icons-bg-img.png
  img/solutions-section-3/moving-img.png
  img/testimonials-section-9/carousel-img-1.png
  img/testimonials-section-9/carousel-img-2.png
  img/testimonials-section-9/carousel-img-3.png
  img/testimonials-section-9/moving-img-1.png
  img/testimonials-section-9/moving-img-2.png
  img/testimonials-section-9/moving-img-3.png
  img/testimonials-section-9/moving-img-4.png
  img/testimonials-section-9/moving-img-5.png
  img/testimonials-section-9/moving-img-6.png
Labels: Images

#77 Simple styling and animation
  css/pages/home.css
  index.html
Labels: CSS, CSS: animation

#89 Our projects update
  css/base/base.css
  css/components/button.css
  css/pages/home.css
  index.html
Labels: CSS, HTML

#91 Contacts simple style update
  css/base/base.css
  css/components/button.css
  css/pages/home.css
  img/contacts-section-12/agency-gradient-bg.jpg
  index.html
Labels: CSS, HTML
